@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

*{
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* MENU: NAVBAR/HEADER */

header {
  background-color: #EEEEEE;

}

header img {
  display: block;
  width: 15%;
  margin: 10px auto;
}


nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
}
nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
}

nav ul li a {
  color: rgb(140, 98, 57);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

nav ul li a:hover {
  background-color: rgba(213, 151, 65, 0.3);
  font-weight: bold;
}

/* SECTIONS & CONTAINERS */

.container {
  width: 50%;
  padding: 60px 0px;
}

/* COFFEE SHOP */

#section-main-image {
  min-height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-main-image h1 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-size: 100px;
  display: flex;
  justify-content: center;
}



/* SECTION COFFEE */

#section-coffee {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

#section-coffee h2 {
  margin: 40px 0 20px 0;
  text-align: center;
}

#section-coffee p {
  text-align: justify;
  line-height: 25px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  padding: 0 15px;
}

.product img {
  width: 100%;
}

/* FOOTER CONTACT */

#footer-contact {
  background-color: #58462c;
  color: #eeeeee;
  display: flex;
  justify-content: center;
}

#footer-contact h2 {
  text-align: center;
}

#footer-contact .contact-data {
  display: flex;
  justify-content: space-between;
}

#footer-contact .contact-info {
  line-height: 25px;
}

.contact-form form {
  margin-left: 50px;
  text-align: right;
}

.contact-form form .form-control {
  padding: 10px 0;
}

.contact-form form .form-control label {
  margin-right: 15px;
}

.contact-form form input[type="submit"] {
  margin-top: 15px;
  color: #58462c;
  padding: 2px 30px;
}
