@media (max-width: 480px) {

body {
	margin: 0;
	padding: 0;
}


.container{
	width: 90%;
	padding: 30px 0;
}

nav{
	background-color: #EEEEEE;
	padding: 5px 0 0 0;
}


nav .logo img{
	width: 80px;
}


nav ul {
	padding: 10px;
	display: flex;
}

nav ul li a {
	font-size: 15px;

}


#section-main-image h1 {
	color: rgba(255, 255, 255, 0.7);
	margin: 0px;
	font-size: 40px;
 
}

.product-grid h3 {
	font-size: 15px;
	display: block;

}


#section-coffee p {
	font-size: 15px;
	text-align: center;
}

#section-coffee h2 {
	margin: 40px 0 20px 0;
	text-align: center;
	font-size: 30px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.product img {
	width: 70%;
}

#footer-contact .container h2{
	text-align: center;
	font-size: 20px;
}

#footer-contact .form-control{
	font-size: 15px ;
	display: flex;

}

}